body {
    font-family: poppins;
    background: rgb(2, 156, 225);
    background: radial-gradient(circle, rgba(2, 156, 225, 1) 0%, rgba(95, 81, 156, 0.7203256302521008) 57%);
}

#logo {
    max-width: 50%;
}

#corpo {
    width: 100%;
    max-width: 500px;
    margin: auto;
}